<div class='container-fluid'>
	<div class='row main-footer'>
		<div class='col col-xs-12 text-xs-center'>
			<section class='footer-menu'>
	      <a href="http://facebook.com/godreamaction" target="_top"><small>facebook</small></a>
	      |
	      <a href="https://twitter.com/godreamaction" target="_top"><small>twitter</small></a>
	      |
	      <a href="https://www.youtube.com/c/Dreamactiongo" target="_top"><small>youtube</small></a>
	      |
	      <a href="https://dreamaction.co/aboutme/" target="_top"><small>about</small></a>
	      |
	      <a href="https://dreamaction.co/contact/" target="_top"><small>contact</small></a>
			</section>
			<section class='footer-logo'>
				<a href="https://dreamaction.co/">
					<img src="assets/images/da-logo.jpg" alt="DreamAction" />
				</a>
			</section>
			<section class="copyright">
				<a href="https://dreamaction.co/">
					DREAM ACTION
				</a>
				&copy; 2016
			</section>
		</div>
	</div>
</div>
