<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="h2">
        ข้อกำหนดและเงื่อนไข (Terms and Conditions)
      </h1>
      <p>
        1. Modification : ทาง DreamAction ขอสงวนสิทธิ์ของเราในการตั้งและเปลี่ยนแปลงข้อกำหนดและเงื่อนไข นี้ โดยหากมีการเปลี่ยนแปลง ทางเราจะทำการแจ้งในอีเมลที่ท่านลงทะเบียนไว้
      </p>
      <p>
        2. Copyright : ไฟล์และข้อมูลทั้งหมดที่คุณส่ง เป็นความรับผิดชอบของคุณทั้งหมด โดยคุณยืนยันว่าเป็นผลงานของคุณจริงๆ และไม่ได้ทำการล่วงละเมิดสิทธิ์ในการใช้งานผลงานหรือภาพของผู้อื่น
ทาง DreamAction ไม่ได้ถือลิขสิทธิ์ในงานของคุณ หรือ Portfolio ของคุณ แต่คุณยินยอมให้ทาง Dreamaction ได้ทำการแสดง เผยแพร่ ศึกษา และ วิเคราะห์ข้อมูลของคุณ
ข้อมูลและ Portfolio ของคุณที่ส่งมาต้องเป็นผลงานของคุณที่ถูกต้องตามหลักกฏหมาย และไม่ทำการอ้างอิงงานผู้อื่นที่คุณไม่มีส่วนเกี่ยวข้อง หากมีการละเมิดสิทธิ์ ทาง DreamAction จะไม่มีส่วนรับผิดชอบในความเสียหาย หรือ ลิขสิทธิ์ของท่าน เนื่องจาก ท่านยืนยันในสิทธิ์ที่นำข้อมูลมาใช้ด้วยตัวท่านเอง
      </p>
      <p>
        3. Public Fair Use : คุณยินยอมพร้อมสมัครใจให้ DreamAction ทำการศึกษาข้อมูล และ Portfolio ของคุณ และอนุญาตินำมาเผยแพร่ ต่อสู่สาธารณะชนในเว็บไซท์ DreamAction เพื่อโครงการ 1 Month 1 Review :  Portfolio Review ซึ่งเป็นการเผยแพร่ในเชิงการศึกษา
      </p>

      <p>
        4. ทาง DreamAction ไม่รับประกันโอกาสในการได้รับการรีวิวสำหรับทุกใบสมัคร เนื่องจากกิจกรรมโครงการ 1 Month 1 Review :  Portfolio Review เป็นการคัด/จับสลากผู้โชคดีรายเดือน เพื่อมารีวิว
      </p>

      <p>
        5. คุณยินยอมพร้อมรับฟังความเห็นของคณะกรรมการ เพื่อการพัฒนาต่อและเพื่อความรู้ และไม่จัดว่าความเห็นของคณะกรรมการเป็นการละเมิดสิทธิ์ ดูหมิ่น หรือ ทำร้ายชื่อเสียง แม้ในกรณีที่คำแนะนำของกรรมการมีความชัดเจน ตรงไปตรงมา แต่ทางคณะกรรมการ ขอยืนยันในความซื่อตรงที่จะนำเสนอคำวิเคราะห์ที่ตรงไปตรงมา และไม่ลำเอียง เพื่อก่อให้เกิดประโยชน์สูงสุดในการพัฒนา Portfolio ของท่าน
      </p>

      <p>
        6. คุณมีสิทธิ์ในการรับการรีวิวฟรี เพียง 1 ครั้ง ต่อ 1 บุคคล/1 Portfolio เท่านั้น หากคุณสนใจได้รับการรีวิวส่วนตัว กรุณาทำการติดต่อแยก หากมีข้อสงสัย กรุณาติดต่อ <a href="mailto:jom@dreamaction.co">jom@dreamaction.co</a>
      </p>

      <p>
        7.ทาง DreamAction สงวนสิทธิ์ในการเก็บรักษาข้อมูลของท่านไว้เป็นเวลา 3 เดือนเท่านั้น หากต้องการร่วมกิจกรรมต่อ กรุณาสมัครใหม่หลังจาก 3 เดือน
      </p>
    </div>
  </div>
</div>
