<nav class="navbar navbar-full navbar-dark main-nav-bg">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/da-logo.jpg" width="30" height="30" class="d-inline-block" alt="">
      DREAM ACTION
    </a>
    <ul class="nav navbar-nav float-lg-right">
      <li class="nav-item">
        <a  class="nav-link" href="https://dreamaction.co/" routerLinkActive="active">Blog</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="https://dreamaction.co/" routerLinkActive="active">FAQs</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/apply" routerLinkActive="active">Apply</a>
      </li>
    </ul>
  </div>
</nav>




<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>

<!-- Routed views go here -->
<router-outlet></router-outlet>

<app-footer></app-footer>
