<!-- <nav class="navbar navbar-full navbar-dark main-nav-bg">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <div class="navbar-brand">
      <a routerLink="/">
        <img src="assets/images/da-review-logo-01.jpg" height="60" class="d-inline-block" alt="">
      </a>
    </div>

    <ul class="nav navbar-nav float-xs-right">
      <li class="nav-item">
        <a class="nav-link" href="https://dreamaction.co/">Blog</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="https://dreamaction.co/">FAQs</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/apply" routerLinkActive="active">Apply</a>
      </li>
    </ul>
  </div>
</nav> -->


<nav class="navbar navbar-full navbar-dark main-nav-bg">
  <button class="navbar-toggler hidden-md-up"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="isCollapsed = !isCollapsed"></button>


  <div class="navbar-brand">
    <a routerLink="/">
      <img src="assets/images/da-review-logo-01.jpg" height="60" class="d-inline-block" alt="">
    </a>
  </div>



  <ul class="nav navbar-nav float-sm-right hidden-sm-down">
    <li class="nav-item">
      <a class="nav-link" href="https://dreamaction.co/">Blog</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" href="https://dreamaction.co/">FAQs</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" routerLink="/apply" routerLinkActive="active">Apply</a>
    </li>
  </ul>
</nav>

<div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar"
[collapse]="isCollapsed">
  <div class="bg-inverse text-muted p-1">
    <ul class="nav navbar-nav float-sm-right">
      <li class="nav-item">
        <a class="nav-link" href="https://dreamaction.co/">Blog</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="https://dreamaction.co/">FAQs</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" routerLink="/apply" routerLinkActive="active">Apply</a>
      </li>
    </ul>
  </div>

</div>


<!-- Routed views go here -->
<router-outlet></router-outlet>

<app-footer></app-footer>
