<!-- Not auth yet -->
<div class="container" *ngIf="!loggedin">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 text-xs-center">
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1" [(ngModel)]="username">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">#</span>
        <input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1" [(ngModel)]="password">
      </div>
      <br>
      <button type="button" class="btn btn-secondary btn-lg" (click)="login(username, password)">
        Log In
      </button>


    </div>
  </div>
</div>

<!-- Loggedin -->
<div class="container" *ngIf="loggedin">
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-secondary" name="button" (click)="logout()">Log Out</button>
      <br>
      <br>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users | async">

            <h4>Name : {{ user.fullName}}</h4>
            <p>
              Nick Name :{{ user.nickName}}
            </p>
            <p>
              E-mail : {{ user.email}}
            </p>
            <p>
              Age : {{ user.age}}
            </p>
            <p>
              Purpose : {{ user.purpose}}
            </p>

            <p>
              Workplace or School : {{ user.workplace }}
            </p>

            <p>
              File : <a [href]="user.portfolioPath">download</a>
            </p>

            <p>
              Time : {{ user.time | date:'medium'}}
            </p>
        </li>
      </ul>




    </div>
  </div>
</div>
