a {
  color: #dd731b;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.col {
  display: flex;
  align-items: center;
}

.main-section {
  background-image: url(../assets/images/1-paper-portfolio.jpg);
  background-position: center center;
  background-size: cover;
  margin-top: -60px;
  overflow: hidden;
}

.main-section:before {
  content: '';
	position: absolute;
  margin-bottom: -60px;
	top: 0px;
	right: 0;
	bottom: 0;
	left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}



.main-container .row {
  padding-top: 60px;
  height: 100vh;
  color:white;
}

.main-container h1 {
  text-transform: uppercase;
  font-weight: 200;
}

.submit-block button {
  background-color: #dd731b;
  border-color: #dd731b;
}


/* WHAT SECTION */
.what-section {
  background-color: black;
  color: white;
}
.what-section h2, .what-section h4 {
  font-weight: 200;
}

.what-section p {
  color:#989898;
}

.what-section .what-header-row {
  padding-bottom: 0px;
}
/* END WHAT Section */




/* WHY SECTION 1 */
.why-section-1 {
  background-image: url(../assets/images/infographic-1.jpg);
  background-color: #e78700;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height:100vh;
}

/* WHY SECTION 2 */
.why-section-2 {
  background-image: url(../assets/images/infographic-2.jpg);
  background-color: #424242;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height:100vh;
  color: white;
}

.why-section-1 .row, .why-section-2 .row  {
  height:100vh;
}



/* VIDEO SECTION */
.video-section .row {
  height: 100vh;
  padding: 0px;
}

.video-container {
  overflow: hidden;
  padding: 0px;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  background-color: white;
  z-index: -1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text {
  position: relative;
  background-color: rgba(0,0,0,0.7);
  color:white;
}


/* testimonial-section */
.testimonial-section {
  background-color: white;
  background-position: center center;
  background-size: cover;
}

.rating {
  color: #dd731b;
  font-size: 20px;
}



/* instruction-section */
.instruction-section {
  background:linear-gradient(
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.9)
    ), url(../assets/images/bg/photo-1430417934865-589b63ad5c00.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment:fixed;
}

.instruction-section .container {
  margin: 20px auto;
  color: white;
}

.instruction-section ul {
  padding-left: 1rem;
}

.instruction-section h4 {
  padding-left: 1rem;
}

/* submit-section */
.submit-section {
  background:linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.5)
    ), url(../assets/images/beehive_page.jpg);
  background-position: center center;
  background-size: cover;
}
.submit-section .row{
  height: 100vh;
}


/*@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}
*/

@media screen and (max-width: 414px) {
  .why-section-1 {
    background-image: none;
  }

  /* WHY SECTION 2 */
  .why-section-2 {
    background-image:none;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 2.5rem;
  }
}
