<div class="container main-container">
  <div class="row">
    <div class="col-sm-4 col">
      <div class="">
        <img src="assets/images/bookcover-pr.jpg" class="img-fluid bookcover" alt="" />
      </div>
    </div>
    <div class="col-sm-8 col">
      <div class="">
        <h1 class="display-4">
          1 เดือน
          1 Portfolio Review
        </h1>
        <hr>

        <p class="lead main-p">
          ลุ้นรับ ... คำแนะนำเจาะรายบุคคล
          ที่จะช่วยพัฒนา Portfolio ของคุณให้เจ๋ง
          และน่าภูมิใจ เพื่อเอาไปคว้างานในฝัน
          เดือนละ 1 คนเท่านั้น !!
        </p>

        <hr class="main-p">

        <div class="submit-block">
          <a href="#" class="text-xs-center">
            <img src="assets/images/submitbutton1-01.png" width="120">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid video-container">
  <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/mcZSqWAw3sQ' frameborder='0' allowfullscreen></iframe></div>
</div>

<!-- WHY Section -->
<div class="container-fluid why-section">
  <div class="container">
    <div class="row">
      <div class="col col-sm-6 text-xs-center">
        WHY
      </div>
      <div class="col col-sm-6 text-xs-center">
        <div class="">
          <h2 class="">THIS FIGHT IS MORE THAN TO</h2>
          <h2 class="display-1">GET A JOB</h2>
          <h3 class="">IT UNLEASHS YOUR POTENTIAL</h3>
          <h4 class="">TO LEARN THE BEST OF YOU NOW AND THEN YOU CAN BE</h4>
          <h2 class="display-4">PROUD OF YOURSELF</h2>
          <h4 class="">THAT YOU NOW READY TO FLY TO WHERE YOU WANT TO BE.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End WHY Section -->

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">
        Lorem ipsum
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>


<div class="container-fluid what-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 text-xs-center">
        <img src="/assets/images/sq-imgonly2.png" class="img-circle"  width="70px" alt="" />
        <h4>
          Lorem ipsum
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="col-sm-3 text-xs-center">
        <img src="/assets/images/sq-imgonly4.png" class="img-circle"  width="70px" alt="" />
        <h4>
          Lorem ipsum
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="col-sm-3 text-xs-center">
        <img src="/assets/images/sq-imgonly5.png" class="img-circle"  width="70px" alt="" />
        <h4>
          Lorem ipsum
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="col-sm-3 text-xs-center">
        <img src="/assets/images/sq-imgonly5.png" class="img-circle"  width="70px" alt="" />
        <h4>
          Lorem ipsum
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Timeline .... -->
<section class="timeline">
  <ul>
    <li>
      <div>
        <time>1934</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
      </div>
    </li>
    <li>
      <div>
        <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
      </div>
    </li>
    <li>
      <div>
        <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
      </div>
    </li>
    <li>
      <div>
        <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
      </div>
    </li>
    <li>
      <div>
        <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
      </div>
    </li>
    <li>
      <div>
        <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
  </ul>
</section>

<!-- Testimonial-section -->
<div class="container-fluid testimonial-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-xs-center">
        <img src="/assets/images/da-logo.jpg" class="img-circle"  width="100px" alt="" />
        <h4>Lorem ipsum dolor</h4>
        <h6>Ut enim ad minim</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col-sm-6 text-xs-center">
        <img src="/assets/images/da-logo.jpg" class="img-circle"  width="100px" alt="" />
        <h4>Lorem ipsum dolor</h4>
        <h6>Ut enim ad minim</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid instruction-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul>
          <li>
            <h4>
              Lorem ipsum dolor sit amet,
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </li>
          <li>
            <h4>
              Lorem ipsum dolor sit amet,
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </li>
          <li>
            <h4>
              Lorem ipsum dolor sit amet,
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </li>
          <li>
            <h4>
              Lorem ipsum dolor sit amet,
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- submit section -->
<div class="container-fluid submit-section">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        <div>
          <h2 class="display-1">
            Get in touch
          </h2>
          <div>
            <a href="#" class="submit-button">
              <img src="assets/images/submitbutton-large-01.png" width="300">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
